@import '../assets/variables';
@import '../assets/mixins';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $secondary-green;
  padding: 8px 16px;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
  }

  h3 {
    margin-left: 8px;
    margin-right: 12px;

    font-size: 12px;
    color: $primary-gray;
  }

  &__left,
  &__right {
    &-icon {
      color: $primary-gray !important;
    }
  }

  &-post {
    border-radius: 8px;
    width: 90px;
    justify-content: center;

    @include respond(large) {
      width: 100px;
    }
    @include respond(medium) {
      width: 100px;
    }
  }
}
