.header {
  padding: 24px 32px;
  padding-bottom: 0px;

  position: sticky;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__left {
    img {
      display: none;
      width: 36px;
    }
  }
}
