.header {
  padding: 24px 32px;
  padding-bottom: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__left {
    img {
      width: 36px;
    }
  }
}
