@import '../assets/mixins';
@import '../assets/variables';

.login {
  height: 100vh;

  background-image: url('../assets/images/login-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  &__title {
    margin-bottom: 24px;
  }

  &__container {
    width: 250px;

    @include respond(large) {
      width: 500px;
    }
    @include respond(medium) {
      width: 500px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px 64px;

    backdrop-filter: blur(25px);
    border-radius: 16px;
    background-color: rgba(88, 130, 193, 0.28);

    &-register {
      height: 685px;
    }
  }

  &__form {
    margin-top: 24px;

    > form {
      > label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > input {
          width: 335px;

          border-radius: 4px;
          border: none;
          padding: 8px;
          margin-top: 8px;
          margin-bottom: 16px;
          outline: transparent;
          color: $primary-green;
        }
      }
    }
  }

  &__forgot {
    margin-top: -8px;

    font-weight: 300;

    &:hover {
      cursor: pointer;
    }
  }

  &__password {
    &-label {
      position: relative;
    }
    &-icon {
      position: absolute;
      color: $primary-green;
      right: 5px;
      top: 31px;
    }
  }

  &__login-btn {
    font-size: 16px;
    margin-top: 32px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: transparent;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    background-color: #003465;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    height: 40px;
    width: 100px;
    background-color: white;
    border: none;

    > img {
      width: 25px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__continue {
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  &__register {
    margin-top: 24px;

    > span {
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
