$primary-green: #06141c;
$secondary-green: #2a3943;
$tertiary-green: #1a2730;
$quaternary-green: #27353e;

$primary-gray: #c7d7e4;
$secondary-gray: #eaf4f4;
$tertiary-gray: #61707b;
$quaternary-gray: #dce6e9;

$primary-blue: #1c97e3;
